<h1>New game 🎲</h1>

<div class="letters">
  <% @letters.each do |letter| %>
  <h2><%= letter %></h2>
  <% end %>
</div>

<div>
  <p>What is the longest word you can find ?</p>
  <form action="/score" method="post">
    <input type="text" name="response">
    <input type="submit" value="Play">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
  </form>
</div>

